html {
    font-size: 20px;
}

div.result {
    display: flex;
    justify-content: space-between;
}

button.action {
    width: 90%;
    height: 3em;
    margin: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
}

div.question {
    background-color: beige;
    width: 100%;
    text-align: center;
}

div.answer {
    display: inline-grid;
}

button.anwer {
    font-weight: bold;
    width: 30%;
    height: 2em;
}